

      html {
  width: 100%; height: 100%;
}

body {
  margin: 0px; padding: 0px;
  font: 14px 'Trebuchet MS', Helvetica, sans-serif;
  width: 100%; height: 100%;
}

h1 {
  margin: 0px;
  padding: 100px 0px;
  color: #FFF;
  font: bold 40px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  letter-spacing: 5px;
  text-align: center;
}

p {
  margin: 0px;
  padding: 10px 20px;
  line-height: 1.5;
}

#header {
  margin: 0px; padding: 0px;
  position: relative;
  background-image: url(../img/face2.png);
  background-size: cover;
  width: 100%; height: 250px;
}

#navbar {
  margin: 0px; padding: 0px;
  position: relative;
  background: #27888F;
  text-align: center;
  z-index: 3;
  width: 100%; height: 50px;
}

#navbar.fixedattop {
  position: fixed; top: 0px;
}


#content {
  margin: 0px;
  padding: 20px 0px 0px 0px;
}



/*/////////////////////////////  CSS  NAVBAR /////////////////////////////////////*/


#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
font-size: 20px;

}
#deroulant{
  background-color: #27888F;
}
#menu-demo2 li{
display:inline-block;
position:relative;

}
#menu-demo2 ul li{
display:inherit;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{

}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .1s;
-webkit-transition: .5s all .1s;
transition: .5s all .1s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}

/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:transparent;
}
#menu-demo2 li:nth-child(2) li{
background:transparent;
}
#menu-demo2 li:nth-child(3) li{
background:transparent;
}
#menu-demo2 li:nth-child(4) li{
background:transparent;
}
#menu-demo2 li:last-child li{
background:transparent;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(4):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#729EBF;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#729EBF;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
height: 50px;
padding-top: 15px;
font-family: 'Ubuntu', sans-serif;
}
#menu-demo2 ul a{
padding:10px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:white;
}

/*/////////////////////////////  CSS  NAVBAR FIN /////////////////////////////////////*/

#galerie{
  padding: 0px;
  margin: 0px;
  list-style: none;
  padding: 0px 10px 0px 10px;
  margin: 25px 0px 0px 0px;
  z-index: 0
}

#stickyNav.fixed a {
    color: white;
  margin-bottom: 10px;}